header {
    background-color: #cf9c3f;
    position: fixed;
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
}

header, a {
    color: rgb(76, 121, 194);
}

h1 {
    padding-left: 20px;
}

  
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cf9c3f;  
    padding: 10px 20px;
    position: relative; 
  }
  
  #nav-menu {
    display: none;  
 }
  
  
  .nav-menu-plus {
    font-size: 30px;  
    color: white;
  }
  
  /* Menu styling */
  #menu {
    display: none;  
    position: absolute;
    top: 100%;  
    right: 0;
    background-color: #cf9c3f;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
  }
  
  /* Shows the menu when checkbox is checked - remember */
  #nav-menu:checked ~ #menu {
    display: block;
  }
  
  #menu li {
    padding: 10px 20px;
  }
  
  /*dropdown font*/
  #menu a {
    text-decoration: none;
    color: #fefefe;
    display: block;
  }
  
  #menu a:hover {
    background-color: #f0f0f0;  
  }
  
  
main {
    padding-top: 80px;
}

body {
    background-color: slategray;
}

body, main {
  width: 100%;
  margin: 0;
  padding: 0;
}

#hero {
    background: url('../images/1161920_1000_1.jpg') no-repeat center center;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 0;
}

#hero-text {
    position: absolute;
    padding-top: 60px;
    padding-left: 40px;
}

#intro-text {
    background-color: #cf9c3f;
    text-align: center;
    /*width: 500px;*/
}

.image-group {
    display: grid;             
    justify-content: space-between;
    gap: 5px;   
    width: 500px; 
    grid-template-columns: repeat(3, 1fr);            
  }
  
.image-item img {
    width: 100%;  
    max-width: 750px;  
    min-height: 100%;
  }

  
.upcoming-events {
    gap: 20px;  
    /*padding: 40px; This is stopping upcoming events from being 100% in media query but use if needed */ 
    background-color: slategray;
  }
  
.event {
    background-image: url('../images/beachclean.jpg');
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.event h3 {
    font-size: 24px;
  }
  
.event-date {
    font-size: 18px;
    color: #888;
    margin-bottom: 15px;
  }
  
.event-description {
    font-size: 16px;
    color: #333;
  }

/* Registration page stuff */

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#register {
    background: url(/assets/images/sandhands.webp);
    background-size: cover;
    min-height: 600px;
}

#registration-form {
    color:rgb(14, 21, 21);
    background-color: #cf9c3f;
}

/* Footer on every page */
footer {
    width: 500px;
    justify-content: center;
}

#social-networks {
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    color: #cf9c3f;
}

/* phones/small screens query, images in a column */
@media screen and (max-width: 576px) {
    .upcoming-events {
      display: grid;
      width: 100vw; /*100 of the container they're in, not screen, change if desired*/
    }

    .event {
      width: 100vw;
    }

    .image-group {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
    }

    #intro-text {
    width: 100vw;}

    #hero {
      width: 100vw;
    }
}