/*Overflow issue*/
/*body {
  overflow-x: hidden;
}*/

header {
    background-color: #cf9c3f;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    z-index: 9999;
}

header, a {
    color: rgb(76, 121, 194);
}

h1 {
    padding-left: 20px;
}

main {
  padding-top: 60px;
  margin: 0 10px;
}

body {
  background-color: slategray;
}

body, main {
width: 100%;
margin: 0;
}

  
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cf9c3f;  
    padding: 10px 20px;
    position: relative;
    z-index: 2000;
  }
  
#nav-menu {
    display: none;  
 }
  
  
.nav-menu-plus {
    position: relative;
    font-size: 30px;  
    color: white;
    z-index: 1200;
  }
  
  /* Menu styling */
#menu {
    display: none;  
    position: absolute;
    top: 100%;  
    right: 0;
    background-color: #cf9c3f;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    z-index: 3000;
  }
  
  /* Shows the menu when checkbox is checked - remember */
#nav-menu:checked ~ #menu {
    display: block;
  }
  
#menu li {
    padding: 10px 20px;
  }
  
  /*dropdown font*/
#menu a {
    text-decoration: none;
    color: #fefefe;
    display: block;
  }
  
#menu a:hover {
    background-color: #f0f0f0;  
  }
  
#hero {
    background: url('../images/1161920_1000_1.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 0;
    position: relative;
}

#hero-text {
    background-color: rgb(66, 66, 194, .6);
    color: white;
    position: absolute;
    bottom: 50px;
    padding-left: 20px;
    min-height: 150px;
    z-index: auto;
}

#intro-text {
    background-color: #cf9c3f;
    text-align: center;
    padding: 0 10px;
}

.image-group {
    display: grid;             
    justify-content: space-between;
    gap: 10px;   
    width: 500px; 
    grid-template-columns: repeat(3, 1fr);            
  }
  
.image-item img {
    width: 100%;  
    max-width: 750px;  
    min-height: 100%;
  }

  
.upcoming-events {
    gap: 10px;  
    padding: 10px 10px; /* Gap at sides and spacing on Cleans text from pictures */
    background-color: slategray;
    margin-left: 0;
  }
  
.event {
    background-image: url('../images/beachclean.jpg');
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.event h3 {
    font-size: 24px;
  }
  
.event-date {
    font-size: 18px;
    color: #888;
    margin-bottom: 15px;
  }
  
.event-description {
    font-size: 16px;
    color: #333;
  }

/* Registration page stuff */

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#register {
    background: url(/assets/images/sandhands.webp);
    background-size: cover;
    min-height: 600px;
}

#registration-form {
    color:rgb(14, 21, 21);
    background-color: #cf9c3f;
}

/* Footer on every page */
footer {
    width: 100%;
    justify-content: center;
}

#social-networks {
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    color: #cf9c3f;
}

/* phones/small screens query, images in a column */
@media screen and (max-width: 576px) {
    header h1 {
      padding-top: 10px;
      font-size: 30px;
    }

    .upcoming-events {
      display: grid;
      width: 100vw; 
    }

    .image-group {
      display: grid;
      width: 100vw;
      padding: 0 10px;
      grid-template-columns: 1fr;
      justify-content: center;
    }

    #intro-text {
    width: 100vw;}

    #hero {
      width: 100vw;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {


}