header {
    background-color: rgb(95, 167, 230);
    position: fixed;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
}

header, a {
    color: aliceblue;
}

main {
    padding-top: 80px;
}

body {
    background-color: slategray;
}

#hero {
    background: url('../images/1161920_1000_1.jpg') no-repeat center center;
    background-size: cover;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#picture-text {
    position: absolute;
    padding-top: 60px;
}
